{% extends "student/student_generic.html" %}
{% load custom_filters %}


{% block student_content %}
    <h1>Subscriptions</h1>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Subscribed</th>
                <th scope="col">Lesson count</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for subscription in subscriptions %}
                <tr class="{% if subscription.active %}table-success{% else %}table-secondary{% endif %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ subscription.subject.title|truncate:20 }}</td>
                    <td>{{ subscription.subscribed }}</td>
                    <td>{{ subscription.lesson_count }}</td>
                    <th><a href="/subscription/{{ subscription.id }}">View</a></th>
                    <th>
                        {% if subscription.active %}
                        <form id="unsubscribe-form-{{ subscription.id }}" method="POST" action="/subject/{{ subscription.id }}/unsubscribe">
                            {% csrf_token %}
                        </form>
                        <button class="btn-link" type="button"
                                onclick="openModal('Do you really want to unsubscribe from {{ subscription.subject.title|truncate:20 }}?',
                                        'unsubscribe-form-{{ subscription.id }}')">
                            Unsubscribe
                        </button>
                        {% else %}
                        <div class="text-dark">Unsubscribed</div>
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if subscriptions %}
    <div class="row">
        <div class="col-12">
        <nav>
          <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                   <li class="page-item">
                      <a class="page-link" href="{% if request.GET.pattern %}?pattern={{ request.GET.pattern }}&{% else %}?{% endif %}page=1" tabindex="-1">First</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="{% if request.GET.pattern %}?pattern={{ request.GET.pattern }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">First</a>
                  </li>
                  <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">...</a>
                  </li>
              {% endif %}


                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>


              {% if page_obj.has_next %}
                   <li class="page-item">
                      <a class="page-link" href="{% if request.GET.pattern %}?pattern={{ request.GET.pattern }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}" tabindex="-1">{{ page_obj.next_page_number }}</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="{% if request.GET.pattern %}?pattern={{ request.GET.pattern }}&{% else %}?{% endif %}page={{ page_obj.paginator.num_pages }}" tabindex="-1">Last</a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">...</a>
                  </li>
                  <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Last</a>
                  </li>
              {% endif %}
          </ul>
        </nav>
        </div>
    </div>
    {% else %}
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">
                Subscriptions are missing!
            </p>
        </div>
    </div>
    {% endif %}
{% endblock %}