#hint_id_password1{
    display: none;
}
#hint_id_password2{
    display: none;
}
.asteriskField{
    color: red;
}
.separate{
    display: none;
}

.custom-side{
    min-height: 0;
}

@media (min-width: 992px) {
    .separate{
        display: block;
    }
    .custom-side{
        min-height: 100vh;
    }
}
.btn-link{
    background-color: rgb(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    text-decoration: none;
    color: darkslategray;
}
.btn-link:hover{
    text-decoration: none;
    color: darkgray;
}

.custom-link{
    color: black;
}
.custom-link:hover{
    color: darkgray;
}

.modal-container{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.258);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 9999;
}

.modal-list{
    width: 90%;
    height: 90vh;
    margin: 5vh auto;
}
.hide{
    display: none;
}