{% extends "templates/base_generic.html" %}

{% block title %}
    {{ subject.title }} | Tutors tool
{% endblock %}

{% block content %}
    <header class="{% if available and active%}bg-success{% else %}bg-primary{% endif %} bg-gradient text-white"
            style="margin-top: 50px; margin-bottom: 50px; padding: 50px 30px 30px;">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder" style="word-break: break-word">{{ subject.title }}</h1>
            <p class="lead">${{ subject.lesson_price }} for {{ subject.lesson_duration }} minutes</p>
            <p class="lead" style="word-break: break-word">By {{ subject.teacher.fullname }}</p>
            <p class="lead">{{ subject.published }}</p>
            {% if available %}
            {% if active %}
                <input type="button" class="btn btn-outline-dark" value="Subscribed" disabled>
            {% else %}
                <details>
                  <summary>Want subscribe?</summary>
                  <form method="POST" action="/subject/{{ subject.id }}/subscribe" style="display: flex; flex-direction: column; align-items: center">
                    {% csrf_token %}
                      <label for="comment">Write your comment for teacher</label>
                      <textarea name="comment" maxlength="500" cols="40" rows="5"></textarea>
                      <input type="submit" class="btn btn-success m-1" value="Subscribe">
                </form>
                </details>
            {% endif %}
            {% endif %}

        </div>
    </header>

    <section class="mb-4 mt-4">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Info</h2>
                    <p class="lead">Price: ${{ subject.lesson_price }}</p>
                    <p class="lead">Duration: {{ subject.lesson_duration }} minutes</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light mb-4 mt-4">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Contacts</h2>
                    <p class="lead">Teacher: {{ subject.teacher.fullname }}</p>
                    <p class="lead">Email: ${{ subject.teacher.email }}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-4 mt-4">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Work schedule</h2>
                    <p style="white-space: pre-wrap">{{ subject.work_schedule}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light mb-4 mt-4">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Description</h2>
                    <p class="lead" style="white-space: pre-wrap">{{ subject.description }}</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}