{% extends "teacher/teacher.html" %}
{% load custom_filters %}

{% block teacher_content %}
    <h1>Schedule<a href="/teacher/schedule/create" class="btn-link"><i class="ti ti-circle-plus"></i></a></h1>

    <div>
        <form id="date-form" action="/teacher/schedule" method="GET" class="form-inline mb-4">
            <div class="form-group">
                <input type="date" class="form-control" name="date">
                <input type="submit" value="Show" class="btn btn-outline-success">
            </div>
        </form>
    <script>
        const form = document.getElementById("date-form");
        const date = form.querySelector("input[type=date]");
        date.value = "{{ current }}";

        form.onsubmit = (event)=>{
            event.preventDefault()

            window.location.href = `/teacher/schedule/${date.value}`;
        }
    </script>

        <nav>
            <ul class="pagination">
                {% for day in days %}
                <li class="page-item">
                    <a class="page-link {% if day.selected %}bg-primary text-dark{% endif %}" href="/teacher/schedule/{{ day.date }}">
                        <span>{{ day.name }}</span>
                        <span>{{ day.date }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Time</th>
                <th scope="col">Subject</th>
                <th scope="col">Student</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for schedule in schedules %}
                <tr class="{% if schedule.done %}table-success{% endif %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ schedule.start_time|time_range:schedule.end_time}}</td>
                    <td title="{{ schedule.subscription.subject.title }}">{{ schedule.subscription.subject.title|truncate:20 }}</td>
                    <td title="{{ schedule.subscription.student.fullname }}">{{ schedule.subscription.student.fullname|truncate:20 }}</td>
                    {% if not schedule.done %}
                        <td><i class="ti ti-pencil"></i></td>
                        <th><i class="ti ti-x"></i></th>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}