{% extends "teacher/teacher_generic.html" %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block teacher_content %}
    <h1>Report tool</h1>
    <p>Use $student, $subject, $number, $time and $date to put student fullname and subject title from selected subscription to header, footer or lessons title <a href="/report-details/" class="btn-link">Read more</a></p>
    <div>
        <form method="post" class="p-4 m-4" target="_blank">
        {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock %}