<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Report | Tutors Tool</title>

    <link rel="icon" type="image/x-icon" href="/static/assets/icon.ico"/>

</head>
<body>

<p>{{ report.header }}</p>

{% for lesson in lessons %}
    <div>{{ report.lesson_prefix }}{{ lesson.number }}. {{ lesson.date }}, {{ lesson.time_range }}{{ report.lesson_suffix }}</div>
{% endfor %}

<p>{{ report.footer }}</p>

</body>