{% extends "templates/base_generic.html" %}
{% load crispy_forms_filters %}

{% block title %}
    Privacy | Tutors tool
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container" style="margin-top: 100px">
        <div class="row align-items-center my-5">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/learning.png" alt="Learning"/></div>
            <div class="col-lg-6">
                <h1 class="font-weight-light">Learn all you need with tutors</h1>
                <p>
                    Welcome to our online platform where individuals can easily find qualified tutors to enhance their
                    learning experience. Our website offers a user-friendly search and discovery system, enabling users
                    to connect with a wide range of tutors, each specializing in various subjects and skills. Whether
                    you're looking to improve your academic performance, learn a new language, acquire specific
                    professional skills, or simply seek guidance in a particular field, our platform is designed to
                    help you find the right tutor to meet your unique learning goals. Join us today to embark on your
                    educational journey and connect with experienced tutors who are eager to support your learning
                    and growth
                </p>
                <a class="btn btn-primary" href="{% url 'subjects' %}">Start learning!</a>
            </div>
        </div>
    </div>

{% endblock %}